.container {
  max-width: 1440px;
  width: calc(100vw - 160px);
  margin-top: 120px;

  h1 {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 32px;
    color: #ffffff;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);

    div {
      display: flex;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1070px) {
  .container {
    section {
      div {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 100vw;
    margin-top: 64px;
    section {
      width: 100%;
      div {
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: auto;
        justify-content: start;
      }
    }
  }
}
