.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #3b454f;
  border-radius: 16px;
  width: calc(100% / 5 - 32px);
  min-width: 150px;
  height: 192px;
  img {
    margin-bottom: 29px;
  }
  div {
    width: 100px;
    height: 8px;
    background: #737d86;
    border-radius: 500px;
    div {
      background: #1ecb4f;
      border-radius: 500px;
      height: 8px;
    }
  }
  h1 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-top: 16px;
  }
}

.level9 {
  div {
    width: 90px;
  }
}

.level8 {
  div {
    width: 80px;
  }
}

.level7 {
  div {
    width: 70px;
  }
}

.level6 {
  div {
    width: 60px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: calc(100% / 2 - 32px);
    height: 142px;
    padding: 19px;

    img {
      width: 80px;
      height: 50px;
      margin-bottom: 19px;
    }

    h1 {
      font-family: 'General Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      text-align: center;
      letter-spacing: 0.01em;
    }
  }
}
