.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100vw - 2rem);
  max-width: 1440px;
  margin-top: 50px;
}

.post {
  max-width: 848px;
  margin: auto;
  margin-top: 120px;

  img {
    width: 848px;
    height: 482px;
    object-fit: cover;
  }

  h1 {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-top: 1.5rem;
  }

  time {
    color: #ffffff;
    margin-top: 1.5rem;
    font-size: 1rem;
    display: block;
  }

  div {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #ccd1d6;
  }
}
