.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100vw - 2rem);
  background-color: #f5f5f5;
  max-width: 1440px;
  margin-top: 120px;
}

.post{
  max-width: 720px;
  margin: auto;

  img{
    max-width: 100%;
    max-height: 410px;
    border-radius: 15px;
    object-fit: cover;
  }

  h1{
    font-size: 2rem;
    font-weight: 900;
    color: var(--gray-100);
  }

  time{
    color: var(--gray-100);
    margin-top: 1.5rem;
    font-size: 1rem;
    display: block;
  }
  
}