.container {
  max-width: 1440px;
  width: 100vw;
  margin: 120px auto;
  padding: 0 80px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--white);
}

.buttonNavigate {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: row;

    button {
      margin: 0 5px;
      border: 0;
      color: var(--white);
      background: var(--principal-color);
      display: flex;
      padding: 0.5rem;
      border-radius: 5px;
      transition: 0.3s;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          opacity: 0.5;
        }
      }

      &:hover {
        opacity: 0.8;
      }

      svg {
        padding: 0 3px;
      }
    }
  }
}
