.container {
  display: flex;
  align-items: center;
  margin-left: 80px;
  // background-image: url('/cristianoPicture.svg');
  // background-repeat: no-repeat;
  // background-position: 100% 40%;
  // background-size: 100vh 100vh;
  height: 100vh;
  max-width: 1440px;
  width: calc(100vw - 80px);
  img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  div {
    width: 70%;
    margin-top: 120px;
    img {
      width: 55%;
      height: 100%;
      object-fit: cover;
    }
    h1 {
      width: 262px;
      height: 38px;
      background-color: var(--Secondary);
      border-radius: 500px;
      font-family: 'General Sans';
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.01em;
      color: #13161a;
      text-align: center;
      padding: 10px 0px;
    }
    p {
      color: var(--white);
      width: 500px;
      font-weight: 500;
    }
    nav {
      display: flex;
      gap: 24px;
      a {
        color: var(--white);
        padding: 10px 24px;
        background: var(--principal-color);
        box-shadow: 8px 8px 0px #ffffff;
        transition: all 0.4s ease-in-out;

        &:hover {
          background: var(--Secondary);
          color: black;
          box-shadow: 8px 8px 0px var(--principal-color);
        }

        & + a {
          background: #22272d;

          &:hover {
            background: var(--white);
            color: black;
            box-shadow: 8px 8px 0px var(--principal-color);
          }
        }
      }
    }
    div {
      display: flex;
      gap: 16px;
      a {
        display: flex;
        align-items: center;
        padding: 0px 16px;
        gap: 16px;
        transition: all 0.4s ease-in-out;
        color: var(--white);
        background: #13161a;
        height: 56px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        /* identical to box height, or 16px */

        letter-spacing: 0.01em;

        svg {
          color: var(--Secondary);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          background: var(--Secondary);
          color: black;

          svg {
            color: black;
          }
        }
      }
    }
  }
}

// @media (max-width: 1137px) {
//   .container {
//     background-image: url('/cristianoPicture.svg');
//     margin: 0;
//     width: 100vw;
//     background-repeat: repeat;
//     background-position: 110vh 0;
//   }
// }

// @media (max-width: 785px) {
//   .container {
//     background-repeat: repeat;
//     background-size: 150vh;
//     margin-left: 0;
//     height: 200%;
//     width: 100%;
//   }
// }
