.background {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.backgroundColorInitialPage {
  align-items: center;
  background: linear-gradient(
    90deg,
    var(--theme) 50%,
    var(--principal-color) 50%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backgroundColorSkillsPage {
  align-items: center;
  background-color: #22272D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 128px;
}

@media screen and (max-width: 768px) {
  .backgroundColorInitialPage {
    background: var(--theme)
  }
}