.container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  max-height: 1080px;
  width: calc(100vw - 160px);
  margin: 0 80px 0 80px;

  img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  div {
    width: 55%;
    img {
      max-width: 498px;
      max-height: 160px;
      width: 70%;
      height: 100%;
      animation-delay: 0.2s;
      opacity: 0;
      animation: slidLeft 1s ease forwards;
      animation-delay: 0.6s;
    }
    h1 {
      width: 262px;
      height: 38px;
      background-color: var(--Secondary);
      border-radius: 500px;
      font-family: 'General Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.01em;
      color: #13161a;
      text-align: center;
      padding: 10px 0px;
      opacity: 0;
      animation: slidRight 1s ease forwards;
      animation-delay: 0.6s;
    }
    p {
      color: var(--white);
      width: 408px;
      font-weight: 500;
      margin-bottom: 64px;
      opacity: 0;
      animation: slidTop 1s ease forwards;
      animation-delay: 0.2s;
    }
    z-index: 999;
    nav {
      display: flex;
      gap: 24px;
      opacity: 0;
      animation: slidTop 1s ease forwards;
      animation-delay: 0.2s;
      margin-bottom: 64px;
      a {
        color: var(--white);
        padding: 10px 24px;
        background: var(--principal-color);
        box-shadow: 8px 8px 0px #ffffff;
        transition: all 0.3s ease-in-out;
        font-weight: 700;

        &:hover {
          background: var(--Secondary);
          color: black;
          box-shadow: 8px 8px 0px var(--principal-color);
        }

        & + a {
          background: #22272d;

          &:hover {
            background: var(--white);
            color: black;
            box-shadow: 8px 8px 0px var(--principal-color);
          }
        }
      }
    }
    div {
      display: flex;
      gap: 16px;
      opacity: 0;
      animation: slidTop 1s ease forwards;
      animation-delay: 0.2s;
      a {
        display: flex;
        align-items: center;
        padding: 0px 16px;
        gap: 16px;
        transition: all 0.3s ease-in-out;
        color: var(--white);
        background: #13161a;
        height: 56px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.01em;

        svg {
          color: var(--Secondary);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background: var(--Secondary);
          color: black;

          svg {
            color: black;
          }
        }
      }
    }
  }
}

@keyframes slidTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slidLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    width: 100vw;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0px 0px 16px 16px;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 24px;

      nav {
        margin-bottom: 10px;
      }

      p {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}
