.active {
  position: relative;
  font-weight: 700;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: black;
  }

  hr {
    position: absolute;
    width: 40%;
    top: 6px;
    border-top: 3px solid white;
  }
}

.container {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: black;
  }
}
